:root {
  font-size: 0.785rem;
  font-family: "Source Sans Pro", sans-serif,;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --color: #fff;
  box-sizing: border-box;
}
* ::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: auto;
  width: auto;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
}
code {
  background-color: rgba(228, 227, 227, 0.937);
  padding: 0.2em;
  border-radius: 0.2em;
}
.banner .textContainer {
  width: 80%;
  padding: 0 4em 0 4em;
}
.banner .text {
  width: 50%;
  font-size: 2rem;
  line-height: 1.6;
}
.banner .text h1 {
  font-size: 6.5rem;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: -1px;
  margin-bottom: 0%;
}
.banner .text h1 i {
  font-size: 6.5rem;
}
.banner .text h1 span {
  font-size: 6.5rem;
  color: #e03636;
  font-weight: 600;
  letter-spacing: -4px;
}
.banner .text h3 {
  font-weight: 300;
  font-size: 1.2em;
}
a {
  color: #000;
}
.banner .text p {
  font-weight: 200;
  font-size: 1.9rem;
}
.banner .imgBanner {
  width: 50%;
}
.banner .imgBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner button {
  border-radius: 2em;
  padding: 1.5em 4em;
  border: #acabab solid 1px;
  font-size: medium;
  margin-top: 1.5em;
}
.banner button:hover {
  color: var(--cyan);
  border-color: var(--cyan);
}
.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery .text {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  /*  margin-top: 2em; */
}
.gallery .text h1 {
  font-size: 3em;
  font-weight: lighter;
  font-size: 14mm;
  align-self: center;
}
.gallery .text p {
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.8em;
  margin: 0.2em 10em 0 ;
}

.gallery .images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5em 0;
}
.gallery .images img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.box {
  width: 100%;
  display: inline-flex;
}
.box h2 {
  font-size: 3em;
  font-weight: lighter;
  font-size: 14mm;
  align-self: center;
}
.box .box-text {
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.8em;
  margin: 0.2em 10em 0 ;
}

footer {
  background-color: #504651;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 250px;
  color: white;
  margin-top: 3em;
}

footer .icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  padding: 3em 1em 1em;
  padding-top: 5em;
}

footer .icons a {
  color: white;
}

footer .icons i {
  border: 1px solid #7aa194;
  background-color: #7aa194;
  border-radius: 50%;
  padding: 0.7em;
  font-size: 2em;
}
footer .icons i .fa-brands fa-facebook-f {
  padding: 0.15em;
}
footer .text {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.7rem;
}
footer .text a {
  color: #7aa194;
  font-weight: bold;
}
footer .text span {
  color: #e03636;
  font-weight: 300;
}
