/* reset minimum */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}
:root {
  font-size: 0.785rem;
  font-family: "Lato", sans-serif;
  --grey: #f3f4f6;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  box-sizing: border-box;
  /* color: #fff; */
}
body {
  background-color: white;
}
.spotlight-2 {
  width: 100%;
  height: auto;
  /* height: 400px; */
  /* padding: 2em 0; */
  /* margin: 25em; */
  /* padding: 20em 0 10em 0; */
  background-color: #f3f4f6;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--black); */
}
.spotlight-2 div:first-child {
  width: 100%;
  padding: 0 5%;
}
.spotlight-2 div:nth-child(2) {
  width: 43%;
  height: 450px;
  display: flex;
  overflow: hidden;
}
.spotlight-2 div img {
  object-fit: cover;
  width: 100%;
  /* height: auto; */
}
.spotlight-2 h1 {
  font-size: 2.5em;
  font-weight: lighter;
  /* margin-top: 2em; */
  color: #323131;
}
.spotlight-2 div p {
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 1.8em;
  color: hsl(0, 0%, 50%);
  margin-top: 0.5em;
  padding-bottom: 1.5em;
}
.spotlight-2 div p strong {
  color: var(--black);
  font-weight: bold;
}
.spotlight-2 .hover:hover {
  border: 1px solid var(--cyan);
  color: var(--cyan);
}
.spotlight-2 a {
  border: 1px solid #a1a1a1;
  border-radius: 2em;
  padding: 1.3em 3em;
  color: var(--black);
  text-decoration: underline transparent;
  font-size: 1.1em;
  font-weight: bold;
}
.spotlight-2 #details {
  padding: 0.2em;
  border: none;
  text-decoration: underline;
  font-size: 1em;
}
.spotlight-2 code {
  background-color: rgb(230, 229, 229);
  padding: 0.4em;
  border-radius: 0.5em;
}
/*Addtional-Elements*/
.main {
  margin: 0 25em;
  display: flex;
  flex-direction: column;
}
hr {
  height: 1px;
  background-color: #d3d2d2;
}
.main .Additional-Elements {
  font-size: 1.2rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: lighter;
}
.main .content {
  text-align: center;
}
/* .title {
  font-family: "Open sans", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 40px;
  color: rgb(74, 74, 74);
} */
/* p {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 100px;
} */
.main .Additional-Elements .texto {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  gap: 10em;
  /* justify-content: space-evenly; */
  margin: 50px 0;
  /* border-bottom: 2px solid #d3d2d2;
  padding-bottom: 40px; */
}
/* div.text > h3 {
  font-size: 1.8em;
  font-weight: lighter;
  padding-right: 8em;
  margin-right: 2em;
} */
/* div.p > p {
  font-size: 1.4rem;
  line-height: 1.7em;
  font-family: "Lato", sans-serif;
  color: var(--black);
  padding-right: 2.5em;
  padding-bottom: 10px;
} */
/* div.p > p > .code {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding: 0.3em;
  font-weight: lighter;
}
div.p > p > .underline {
  text-decoration: underline 2px rgb(74, 74, 74);
}
div.p > p > .bold {
  font-weight: 800;
  color: var(--black);
}
div.p > p > #link {
  color: #000;
} */

/*Headings*/

.main .Headings {
  display: flex;
  flex-direction: column;
}
.main div.title {
  width: 100%;
  display: inline-flex;
  gap: 10px;
  margin: 50px 0;
  padding-bottom: 40px;
}